.App {
  text-align: center;
}

.ingredient {
  border: 2px solid black;
  border-radius: 10px;
}

.tomato {
  background-color: rgba(255, 0, 0, 0.831);
}

.lettuce {
  background-color: green;
}

.cheese {
  background-color: rgba(255, 255, 0, 0.879);
}

.beef {
  background-color: brown;
}

.bun {
  background-color: wheat;
}
